.container {
    border: 1px solid black;
    border-radius: 8px;
    padding: 7px;
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
}

.container__button {
    font-size: 18px;
    border: 0px;
    background-color: #64696A;
    color: aliceblue;
    padding: 7px;
    border-radius: 7px;
}

.container__input {
    font-size: 18px;
    height: 20px;
    border: 0px;
}